<!doctype html>
<html>

<head>
    <title>Forums Workshop</title>
</head>

<body>

    <h3 align = "left"> Forum  </h3>
    <h1  align = "center" >ONE MILLION ARAB CODERS</h1>
    <p align = "center"><a href="#">MEMBERS </a> -- <a href="#"> Profile </a></p>
        <a href="#">Create</a>

        <table width="100%" align="left">
                <tr align="left" width="100%">
                    <th align="left" width="33%">
                        Title
                    </th>

                    <th>
                        Edit
                    </th>

                    <th>
                        Delete
                    </th>
                </tr>
        </table>
        <table width="100%">
            <tr align="left" width="100%">
                <td align="left" width="33%">
                    topic1
                </td>

                <td>
                    <a href="#">edit</a>
                </td>

                <td>
                    <a href="#">delete</a>
                </td>
            </tr>
        </table>
        <table width="100%">
            <tr align="left" width="33%">
                <td align="left" width="33%">
                    topic2
                </td>

                <td>
                    <a href="#">edit</a>
                </td>

                <td>
                    <a href="#">delete</a>
                </td>
            </tr>
        </table>
        <table width="100%">
            <tr>
                <td align="left" width="33%">
                    topic3
                </td>

                <td>
                    <a href="#">edit</a>
                </td>

                <td>
                    <a href="#">delete</a>
                </td>
            </tr>
        </table>
</body>

</html>